.dropdown-menu {
    background-color: #343a40 !important;
}
.dropdown-menu > li > a {
    color: white !important;
    margin-left:8px;
}

.category_info{
    color: dimgrey;
    margin-bottom: 50px;
}

.card-body{
    max-height: 200px;
    overflow: auto;
}
