.dropdown-menu {
    background-color: #343a40 !important;
}
.dropdown-menu > li > a {
    color: white !important;
    margin-left:8px;
}

.category_info{
    color: dimgrey;
    margin-bottom: 50px;
}

.product_card{
    height: 200px !important;
    overflow: auto;

}

.card-img-top{
    height: 300px !important;
    overflow: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: darkgrey !important;
}
