.nav-search{
    margin-top: 7px;
}

.navbar-default .navbar-nav > .open > a{
    background-color: transparent !important;
}

.dropdown-menu {
    background-color: #42586E !important;
}
.dropdown-menu > li > a {
    color: white !important;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.dropdown-menu > li > a:hover {
    color: #18bc9c !important;
    background-color: transparent !important;
}
